* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    border: transparent ;
}
body{
    padding-bottom: 30px;
}
.background{
    margin: 0% 10% 0% 10%;
    padding: 2% 10% 2% 10%;
}

a {
    text-align: center;
    height: 100%;
    padding: 9px 20px 9px 20px;
    border-radius: 10px ;
    
}

a:hover {
  background-color: #b3aaa9;
  transition: 1s;
  transform: rotateX(30deg);
  transform: translate(0px,-5px);
  z-index: 1;
  box-shadow: 0px 7px 0px 0px rgb(114, 110, 110);
}

.option1{
  transition: transform 1s;
}
.option2{
  transition: transform 1s;
}
.option3{
  transition:transform 1s;
}
.option1:hover{
  z-index: 2;
  cursor: pointer;
  transform: translate(0px,-30px) ;
}
.option2:hover{
  z-index: 2;
  cursor: pointer;
  transform: translate(0px,-30px) ;
}
.option3:hover{
  z-index: 2;
  cursor: pointer;
  transform: translate(0px,-30px) ;
}
